@font-face {
  font-family: "AFontMedium";
  src: url("fonts/Roboto-Medium.ttf");
}
@font-face {
  font-family: "AFontBold";
  src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
  font-family: "AFontRegular";
  src: url("fonts/Roboto-Regular.ttf");
}
html,
body,
#root {
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
body {
  background: #121212;
  color: white;
  font-family: "AFontRegular";
}
#main-container {
  max-width: 400px;
  max-height: 450px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  #logo {
    padding-top: 30px;
    width: 75%;
  }
  #bottom {
    font-family: "AFontMedium";
    font-size: 20px;
    color: #f4464a;
    padding-bottom: 20px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    * {
      margin: auto;
      margin-bottom: 10px;
      width: max-content;
    }
    #loopback {
      cursor: pointer;
    }
    #feedback {
      color: #aaa;
      cursor: pointer;
      text-decoration: underline;
      font-size: 0.8em;
    }
  }
  #options-toggle {
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 0px;
    cursor: pointer;
  }
  #options-toggle:after {
    font-size: 2rem;
    font-family: Helvetica;
    content: "\2807";
  }
  #options {
    position: absolute;
    top: 0.5rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 5px 10px 5px black;
    z-index: 10;

    background: #2e2e2e;
    padding: 1rem;

    font-size: 1.5rem;
    font-weight: bold;

    min-width: 200px;
    ul {
      list-style: none;
      margin-top: 0.5rem;
      margin-right: 1rem;
    }
    li::before {
      content: ".";
      color: #0000;
      border-radius: 50%;
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      left: 1.7rem;
      transform: translateY(0.2rem);
    }
    li.selected::before {
      background: rgb(240, 87, 66);
      background: radial-gradient(
        circle,
        rgba(240, 87, 66, 1) 52%,
        rgba(246, 154, 142, 1) 52%
      );
    }
    li::before {
      background: #f69a8e;
    }
    li {
      cursor: pointer;
    }
    div.clickable {
      cursor: pointer;
      color: inherit;
      background: inherit;
      padding: 0.3rem;
      margin: 0.3rem;
      border-radius: 10px;
    }
    div.clickable:hover {
      -webkit-transition: 0.5s ease;
      transition: 0.3s ease;
      background: lighten(#2e2e2e, 10%);
    }
    div {
      margin: 0.65rem;
    }
    hr {
      width: 98%;
      border: none;
      height: 3px;
      /* Set the hr color */
      color: #fff; /* old IE */
      background-color: #fff; /* Modern Browsers */
    }
    #model-select-prompt,
    #reselect-notice {
      font-size: 0.85rem;
    }
    #reselect-notice {
      margin-top: 0px;
    }
  }
}

#error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
