@font-face {
    font-family: "AFontMedium";
    src: url("fonts/Roboto-Medium.ttf");
}
@font-face {
    font-family: "AFontBold";
    src: url("fonts/Roboto-Bold.ttf");
}
@font-face {
    font-family: "AFontRegular";
    src: url("fonts/Roboto-Regular.ttf");
}

body {
    background: #121212;
    color: white;
    font-family: "AFontRegular";
}
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    #logo {
	width: 20%;
    }
    #loopback {
	font-family: "AFontMedium";
	font-size: 20px;
	color: #f05742;
	margin-top: 40px;
	cursor: pointer;
    }
}

#error-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
